<% provide :title, t(".title") %>
<h1> <%= t ".title" %> </h1>
<p>
  <%= t ".sentence_1" %>
  <em><%= link_to t(".link_1"),
    "https://www.railstutorial.org/" %></em>
    <%= t ".sentence_2" %>
  <%= link_to t(".link_2"),
    "https://www.railstutorial.org/book" %>
    <%= t ".sentence_3" %>
  <%= link_to t(".link_3"),
  "http://screencasts.railstutorial.org/" %>
  <%= t ".sentence_4" %>
  <%= link_to t(".link_4"), "http://rubyonrails.org/" %>.
  <%= t ".sentence_5" %>
</p>
