<% provide :title, t(".title") %>
<h1> <%= t ".title" %> </h1>
<p>
  <%= t ".sentence_1" %>
  <%= link_to t(".link_1"), "https://railstutorial.org/help" %>
  <%= t ".sentence_2" %>
  <em><%= link_to t(".link_2"),
    "https://railstutorial.org/book" %></em>
  <%= t ".sentence_3" %></a>.
</p>
