<% provide :title, t("static_pages.help.title") %>
<h1> <%= t "static_pages.help.title" %> </h1>
<p>
  <%= t "static_pages.help.sentence_1" %>
  <%= link_to t("static_pages.help.link_1"), "https://railstutorial.org/help" %>
  <%= t "static_pages.help.sentence_2" %>
  <em><%= link_to t("static_pages.help.link_2"),
    "https://railstutorial.org/book" %></em>
  <%= t "static_pages.help.sentence_3" %></a>.
</p>
