<h1><%= t ".reset_password" %></h1>

<p><%= t ".sentence_1" %></p>

<%= link_to t(".reset_link"), edit_password_reset_url(@user.reset_token,
email: @user.email) %>

<p><%= t ".sentence_2" %></p>

<p>
  <%= t ".sentence_3" %>
</p>
