<footer class="footer">
  <small>
    <%= t ".sentence_0" %>
    <%= link_to t(".link_1"), "http://www.railstutorial.org/" %>
    <%= t ".sentence_1" %>
    <%= link_to t(".link_2"), "http://www.michaelhartl.com/" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
      <li><a href="http://news.railstutorial.org/"><%= t ".link_3" %></a></li>
    </ul>
  </nav>
</footer>
