<footer class="footer">
  <small>
    <%= t "static_pages.application.sentence_0" %>
    <%= link_to t("static_pages.application.link_1"), "http://www.railstutorial.org/" %>
    <%= t "static_pages.application.sentence_1" %>
    <%= link_to t("static_pages.application.link_2"), "http://www.michaelhartl.com/" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("static_pages.application.link_to_5"), about_path %></li>
      <li><%= link_to t("static_pages.application.link_to_6"), contact_path %></li>
      <li><a href="http://news.railstutorial.org/"><%= t "static_pages.application.link_2" %></a></li>
    </ul>
  </nav>
</footer>
